tests/__pycache__/test_ingresar_nombre.cpython-38-pytest-8.1.1.pyc
tests/__pycache__/test_adivinar_letra.cpython-38-pytest-8.1.1.pyc
tests/__pycache__/test_adivinar_palabra.cpython-38-pytest-8.1.1.pyc
tests/__pycache__/test_generar_palabra.cpython-38-pytest-8.1.1.pyc
__pycache__/main.cpython-38.pyc
